.account-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.account-body .user-info{
    background-color: #082032;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;

}
.account-body .user-profile-picture{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.account-body .personal-info{
    display: flex;
    color: white;
    padding-top: 50px;
}
.personal-info div{
    margin-bottom: 15px;
}
.account-body .personal-info button{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    
}
.account-body .user-profile-picture img{
    width: 10vh;
    height: 10vh;
}
#profile-logout-button{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    align-self: center;
}

.no-user .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    
}
.no-user .links a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.no-user{
    color: white;
}
.fav-movies-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fav-movies-container h2{
    color: white;
    margin: 20px;
}
.fav-movies{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 390px;
    overflow-x: scroll;
    background-color: #082032;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    .account-body{
        padding: 0px;
    }
    .account-body .user-info{
        height: 100%;
        width: 100%;
    }
    .account-body .user-info{
        height: 100%;
        font-size: 20px;

    }
    .account-body .personal-info button{
        height: 50px;
        width: 200px;
        font-size: 20px;
    }

}
