
.home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    overflow-x: scroll;
}


.popular-movies{
    height: auto;
    display: flex;
    overflow-x: scroll;
    background-color: #082032c5;
    padding-top: 20px;
    position: relative;
    scroll-behavior: smooth;
}
.popular-movies-container{
    border: 1px solid #082032c5;
}

.home-arrows{
    filter: invert();
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    z-index: 3;
    cursor: pointer;
    height: 100%;
    width: 50px;
    user-select: none;
}
.home-arrows:hover{
    background-color: rgba(211, 211, 211, 0.637);
}
#home-left-arrow{
    left: 0px;
}
#home-right-arrow{
    right:0px;
}

.incoming-movies,
.tv-airing-movies{
    height: auto;
    display: flex;
    overflow-x: scroll;
    background-color: #082032c5;
    padding-top: 20px;
    position: relative;
    scroll-behavior: smooth;
}
.incoming-movies-container,
.tv-airing-movies-container{
    position: relative;

}
.categories-text{
    color: white;
    margin: 25px;
    height: 50px;
    
}
.featured-movie-container{
    height: 400px;
    display: flex;
    width: 50%;
    min-width: 600px;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #082032c5;
}
.featured-movie-img-container{
    height: 400px;
    
}
#featured-img{
    height: 400px;
}
.featured-movie-info-container{
    color: white;
    padding: 20px;
    
}
.featured-release{
    font-size: 20px;
    margin-bottom: 10px;
}
.featured-movie-info-container h2{
    margin-bottom: 20px;
    margin-top: 10px;
}
.featured-overview{
    margin-left: 10px;
    min-width: 300px;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /*featured film section */
    .featured-movie-container{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #082032c5;
    }
    .featured-movie-info-container{
        color: white;
        padding: 20px;
        width: 90vw;
    }
    .featured-movie-info-container h2{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .featured-movie-container .categories-text{
        display: none;
    }
    .featured-movie-img-container{
        height: auto;
        width: 100%;
        padding-left: 0px;
        
    }
    #featured-img{
        margin-top: 10px;
        height: auto;
        width: 100%;
    }
    
    .featured-release{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .featured-overview{
        margin-left: 10px;
    }
    
  }