.movie-container{
    height: 350px;
    width: 200px;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gray;
}
.movie-posters{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}
.info-section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    gap: 10px;
    font-size: 15px;
}
.movie-title{
    grid-column: 1 /3;
}
.movie-release{
    grid-column: 1 /3;
}
.vote-avg{
    grid-column: 1 /1;
    
}
.vote-count{
    grid-column: 2 /2;
    margin-right: auto;
}