.reset-password-body{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset-password-body .reset-container{
    width: 50%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #082032;
}
.reset-container h2{
    margin-bottom: 25px;
    align-self: center;
}


.reset-container input{
    height: 30px;
    width: 90%;
    margin-bottom: 20px;
    padding-left: 10px;
    align-self: center;

}
.reset-container #reset-password-button{
    height: 30px;
    width: 150px;
    align-self: center;
}
.reset-container .reset-msg{
    align-self: center;
    margin: 10px;
}
.reset-container a{
    align-self: center;
    margin-top: 25px;
    color: white;
    text-decoration: none;
}