.search-body{
    display: flex;
    flex-direction: column;
}
.search-box-container{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    min-width: 400px;
}
.search-box-container #search-box{
    height: 50px;
    width: 500px;
    padding-left: 10px;
    font-size: 20px;
}
.search-box-container #search-button{
    height: 40px;
    width: 150px;
    margin-left: 25px;
    background-color: #04293A;
    color: white;
    font-size: 20px;
}
.search-box-container #search-button:hover{
    border: 1px solid #ff4d29;

}
.search-results-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#search-button-icon{
        height: 30px;
        width: 30px;
}
#search-another{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #04293A;
    color: white;
    display: none;
}
@media only screen and (max-width: 768px) {
    .search-box-container{
        width: 100%;
        min-width: 100%;
        padding-left: 0px;
        flex-direction: column;
        padding-top: 20px;
        height: 150px;

    }
    .search-box-container #search-box{
        width: 90%;
        height: 100px;
        font-size: 20px;
    }
    .search-box-container #search-button{
        width: 75%;
        height: 75px;
        margin-top: 20px;
        margin-left: 0px;
        font-size: 20px;
    }

    #search-another{
        width: 80%;
        height: 75px;
        font-size: 20px;
    }
    .search-results-container{
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
    }
    


}