.update-profile-body{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.update-profile-body input{
    margin-top: 20px;
    height: 30px;
    width: 75%;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.update-profile-body button{
    width: 150px;
    height: 30px;
    margin-top: 25px;
    align-self: center;
}
.update-profile-body .user-info{
    background-color: #082032;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.update-profile-body .general-info,
.update-profile-body .personal-info{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding-left: 50px;
    padding-top: 25px;
}
#img-input{
     border: none;
}
.update-profile-body label{
    margin-top: 20px;
}
#go-back-to-profile-link{
    padding: 20px;
    
    
}
#go-back-to-profile-link a{
    text-decoration: none;
    color: white;

}
#update-msg{
    margin-top: 30px;
    height: 20px;
}

@media only screen and (max-width: 768px) {

    .update-profile-body .user-info{
        width: 100%;
        height: 100%;
    }    
    .update-profile-body button{
        height: 50px;
        width: 250px;
        background-color: white;
    }
    .update-profile-body input{
        width: 90vw;
        height: 50px;
        border-radius: 0px;
        font-size: 20px;
    }
    .update-profile-body .general-info,
    .update-profile-body .personal-info{
        padding: 0px;
        align-items: center;
    }
    .update-profile-body label{
        margin-left: 20px;
        font-size: 20px;
        width: 90%;
    }
    #img-input{
        border: none;
        margin-left: 20px;
   }
   .update-profile-body h2{
    margin-left: 20px;
   }
   #go-back-to-profile-link a{
    font-size: 25px;

}


}
