*{
  padding: 0px;
  margin: 0px;
}
.app-body{
  background-color: #2C394B;
  height: 100%;
}
nav{
  position: sticky;
  top: 0px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  background-color: #082032;
}
#logo{
  height: 50px;
  filter: invert();
  margin-left: 50px;
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: 100px;
  width: 25%;
}
.nav-links a{
  text-decoration: none;
  color: #ff4d29;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #082032;
  color: white;
}
.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-box{
  border: 1px solid lightgray;
  background-color: white;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
}
#search-box:focus{
 
  border: 2px solid #ff4d29;
}
#search-button{
  margin-left: 10px;
  background-color: white;
  border: none;
  width: 100px;
  height: 20px;
  border-radius: 20px;
}
#search-button:hover{
  border: 1px solid #ff4d29;
}